*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 100px auto;
    width: 50%;
}
table {
    margin: 15px;
    width: 100%;
}
legend {
    font-size: 25px;
    margin-left: 15px;
}


input {
    margin-top: 5px;
}


